<div
    class="px-10 py-6 rounded-lg shadow-sm bg-gray-800 mt-5"
  >
  <h2 class="text-2xl font-bold hover:underline mb-2">Comments (<%= count %>)</h2>
  <div class="max-h-[50vh] overflow-auto">
    <% comments.select(&:persisted?).each do |comment| %>
      <p class="mt-2"><%= comment.content %></p>
      <div class="flex items-center justify-between mb-6 mt-2">
        <div class="flex items-center">
          <span class="dark:text-gray-400"><%= comment.name %></span>
        </div>
        <span class="text-sm dark:text-gray-400"
          ><%= comment.created_at.strftime('%H:%M:%S %-b %-d, %Y') %></span
        >
      </div>
    <% end %>
  </div>
</div>
