<section class="admin">
  <div class="flex justify-end">
    <%= link_to new_post_path, class: "button-basic" do %>Create New Post <% end %>
  </div>
</section>
<h2>Published Posts</h2>
<ul>
  <% @published_posts.each do |post| %>
    <%= render "post_list_item", post: post %>
  <% end %>
</ul>
<h2>Unpublished Posts</h2>
<ul>
  <% @unpublished_posts.each do |post| %>
    <%= render "post_list_item", post: post %>
  <% end %>
</ul>
