<h1>Published Posts</h1>
<ul>
  <% @posts.each do |post| %>
    <% if post.published %>
      <li>
        <%= post.title %>
      </li>
    <% end %>
  <% end %>
</ul>

<h1>Unpublished Posts</h1>
<ul>
  <% @posts.each do |post| %>
    <% unless post.published %>
      <li>
        <%= post.title %>
      </li>
    <% end %>
  <% end %>
</ul>