<header>
  <nav class="fixed bg-sky-850">
    <div class="mx-auto max-w-7xl">
      <div class="flex items-center justify-between flex-row">
        <%= link_to root_path do %>
        <div class="flex items-center">
          <div class="flex items-center">
            <div class="rounded-full overflow-hidden mr-3 w-20 h-20">
              <%= image_tag("logo") %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="hidden md:flex items-center space-x-4">
          <a
            href="/"
            class="bg-gray-900 text-white rounded-md px-3 py-2 text-lg font-medium"
            aria-current="page"
            >Posts</a
          >
          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
            >Link2</a
          >
          <a
            href="#"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
            >Link3</a
          >
        </div>
        <div class="md:hidden">
          <button class="text-white hover:text-gray-400 focus:outline-none">
            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
              <path
                fill-rule="evenodd"
                d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
